<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<title>Waver</title>
<link rel="stylesheet" type="text/css" href="../css/style.css">
<link rel="shortcut icon" href="../img/fav.ico">
</head>
<body>
<div id="hidehidemode" class="hidemode"></div>
<a id="showhidemode" title="Hide Mode: Oh no! The teacher is about to walk by me! Click this button to hide the game. Click anywhere on the screen to cancel hide mode." class="btn2">&#128083;</a>

<div class="textarea">
<a class="btn" href="goplay.html">Back</a>
<br /><br /><br />
<h2>Let's Play Some Games!</h2>
<p>Waver is a website made for students by the students.</p>
<p>Bored in class? Waver allows for a fun and easy gaming fun. Games will always work and we will not get blocked. We have no ads and slow load times, isn't that cool! We are always working to improve this website, so always come back to see what's up.</p>
<br />
<h2>FAQ</h2>
<h3>How do I request games?</h3>
<p>If you are on this website, chances are you know us. So just ask.</p>
<h3>This website got blocked.</h3>
<p>Chances are we already know and are working on it.</p>
<h3>A game is not working.</h3>
<p>Inform us and we will get to work.</p>
<h3>Why is this website so lame looking?</h3>
<p>Alright, chill. This website is made to run on slow devices and internet.</p>
<h3>How was this website made?</h3>
<p>It was programmed in HTML, CSS, and JS. Yes, it took a lot of work.</p>
<br />
<br />
<p>Created By: Prabh</p>
</div>

<br /></br />
<script src="../js/script.js"></script>
</body>
</html>
