<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<title>Waver</title>
<link rel="stylesheet" type="text/css" href="../css/style.css">
<link rel="shortcut icon" href="../img/fav.ico">
</head>
<body style="background-color: black;">

<div class="welcome-alert">
  <div class="overlay-alert"></div>
  <div class="alert">
    <h2>Message</h2>
	<p>No messages to load.</p>
	<a href="news.html" class="linkstyle">View News Page</a>
    <br /><br /><br />
    <a id="hide-welcome-alert" class="btn">Close</a>
  </div>
</div>


<div id="hidehidemode" class="hidemode"></div>
<a id="showhidemode" title="Hide Mode: Oh no! The teacher is about to walk by me! Click this button to hide the game. Click anywhere on the screen to cancel hide mode." class="btn2white">&#128083;</a>

<div class="backbuttonmenu">
<a href="../index.html" class="btnmain">Back</a>
</div>

<div class="tiles tgames">
<div class="tilecenter cgames">
<h2>Play</h2>
<a href="playlist-all.html" class="btnmain">Begin!</a>
</div>
</div>

<div class="tiles tchat">
<div class="tilecenter cchat">
<h2>Browser</h2>
<a href="browser/index.html" target="_blank" class="btnmain">Begin!</a>
</div>
</div>

<div class="tiles tnews">
<div class="tilecenter cnews">
<h2>News</h2>
<a href="news.html" class="btnmain">Begin!</a>
</div>
</div>

<div class="tiles tabout">
<div class="tilecenter cabout">
<h2>More</h2>
<a href="about.html" class="btnmain">About</a>
<br />
<br />
<a href="movies.html" class="btnmain">Movies</a>
</div>
</div>

<script src="../js/script.js"></script>
</body>
</html>
