<!DOCTYPE html>
<html>
<head>
<!--
 _____   _____        ___   _____   _   _        _____   _   __   _   _____   _   _
|  _  \ |  _  \      /   | |  _  \ | | | |      /  ___/ | | |  \ | | /  ___| | | | |
| |_| | | |_| |     / /| | | |_| | | |_| |      | |___  | | |   \| | | |     | |_| |
|  ___/ |  _  /    / / | | |  _  { |  _  |      \___  \ | | | |\   | | |  _  |  _  |
| |     | | \ \   / /  | | | |_| | | | | |       ___| | | | | | \  | | |_| | | | | |
|_|     |_|  \_\ /_/   |_| |_____/ |_| |_|      /_____/ |_| |_|  \_| \_____/ |_| |_|
Why are you even looking at this?
Instagram: @Prabh5487
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="icon" type="image/x-icon" href="img/fav.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="west, lakotawest, saab">
<meta name="description" content="See what Saab is all about.">
<meta name="author" content="Prabhjot Singh">
<title>About - Saab - Lakota West</title>

</head>
<body style="background-color: #1a1a1a; color: white;">
  <div id="load_screen"><div id="loading"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div></div>

<div class="aboutintrocontainer">
  <div class="menubar">
    <a href="index.html" class="links">HOME</a>
  </div>

<div class="aboutcenter">
  <h1>About Saab</h1>
<h3>Saab is a student Athlete Advisory Board-We model the character, ethics & sportsmanship expected of Lakota West athletes on the field, in the classroom & in the community.</h3>
</div>

<div class="credit-alert">
  <div class="overlay-alert"></div>
  <div class="alert snormal afade-aslide">
    <h2>PRABH<span style="font-weight: 700;">SINGH</span></h2>
    <p>If you pressed my name on the bottom of the about page, you're cool!</p>
    <p>Just a little flex, I made this website and all.</p>
    <a href="https://Instagram.com/Prabh5487" class="fa fa-instagram fa-2x linksblack" aria-hidden="true"></a>
    <a href="https://twitter.com/PrabhSingh_" class="fa fa-twitter fa-2x linksblack" aria-hidden="true"></a>
    <br /><br /><br />
    <span id="hide-credit-alert" class="abtn cblack">Close</span>
  </div>
</div>
</div>

<!--
<div class="aboutintrocontainer">  
  <div class="acontentcenter">
    <h1>Saab hosts amazing speakers.</h1>
    <h2>The amazing Lakota Alumni that have spoken to Saab.</h2>
    <p>Need help writing stuff here :/</p>
  </div>
</div>
-->

<center>
<div class="creditfooter">
  <span id="show-credit-alert" class="linkswhite">Prabh Singh 2019</span>
</div>
</center>

<script src="js/main.js"></script>
</body>
</html>
