<!DOCTYPE html>
<html>
<head>
<!--
 _____   _____        ___   _____   _   _        _____   _   __   _   _____   _   _
|  _  \ |  _  \      /   | |  _  \ | | | |      /  ___/ | | |  \ | | /  ___| | | | |
| |_| | | |_| |     / /| | | |_| | | |_| |      | |___  | | |   \| | | |     | |_| |
|  ___/ |  _  /    / / | | |  _  { |  _  |      \___  \ | | | |\   | | |  _  |  _  |
| |     | | \ \   / /  | | | |_| | | | | |       ___| | | | | | \  | | |_| | | | | |
|_|     |_|  \_\ /_/   |_| |_____/ |_| |_|      /_____/ |_| |_|  \_| \_____/ |_| |_|
Why are you even looking at this?
Instagram: @Prabh5487
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="icon" type="image/x-icon" href="img/fav.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="west, lakotawest, saab">
<meta name="description" content="Connect with Saab.">
<meta name="author" content="Prabhjot Singh">
<title>Contact - Saab - Lakota West</title>

</head>
<body style="background-color: #1a1a1a; color: white;">
<div id="load_screen"><div id="loading"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div></div>

<div class="contactintro">

  <div class="menubar">
    <a href="index.html" class="links">HOME</a>
  </div>

<div class="contactcontain">
  <div class="contacttitle">
    <h2>Lakota West - Saab</h2>
    <h1 class="contactintrotext">Contact</h1>
  </div>
</div>
</div>
<br />

<center>
  <h1>Saab Social</h1>
  <a href="https://twitter.com/lakotawestsaab?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @lakotawestsaab</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</center>

<br /><br />

<center>
<h1>Administrators</h1>
</center>

<div class="contactmobiledelete">
<div class="contactrow">
  <div class="contactcolumn" style="background-color:#1a1a1a; text-align: right;">

    <div class="contactpersonholder" style="margin-left: 40%">
      <img class="profile" src="img/kaufman.JPG" />
      <br />
      <h2>Mr. Scott Kaufman</h2>
      <h3>Freshman and Main Campus Athletic Director</h3>
      <a class="linksblack" href="mailto:scott.kaufman@lakotaonline.com">scott.kaufman@lakotaonline.com</a>
      <br /><br />
      <a href="https://twitter.com/LakotaWestAD" class="fa fa-twitter fa-2x linksblack" aria-hidden="true"></a>
    </div>
  </div>
  <div class="contactcolumn" style="background-color:#1a1a1a; text-align: left;">
    <div class="contactpersonholder" style="margin-right: 40%">
      <img class="profile" src="img/kornau.JPG" />
      <br />
      <h2>Mrs. Tracey Kornau</h2>
      <h3>Physical Education and Health Teacher</h3>
	  <h3>Volleyball Head Coach</h3>
      <a class="linksblack" href="mailto:tracey.kornau@lakotaonline.com">tracey.kornau@lakotaonline.com</a>
    </div>

  </div>
</div>
</div>

<div class="contactmobileshow">
<center>
  <div class="contactpersonholder" style="width: 80%;">
    <img class="profile" src="img/kaufman.JPG" />
    <br />
    <h2>Mr. Scott Kaufman</h2>
    <h3>Freshman and Main Campus Athletic Director</h3>
    <a class="linksblack cmobilel" href="mailto:scott.kaufman@lakotaonline.com">scott.kaufman@lakotaonline.com</a>
    <br /><br />
    <a href="https://twitter.com/LakotaWestAD" class="fa fa-twitter fa-2x linksblack" aria-hidden="true"></a>
  </div>
<br /><br /><br />
  <div class="contactpersonholder" style="width: 80%;">
    <img class="profile" src="img/kornau.JPG" />
    <br />
    <h2>Mrs. Tracey Kornau</h2>
    <h3>Physical Education and Health Teacher</h3>
	<h3>Volleyball Head Coach</h3>
    <a class="linksblack cmobilel" href="mailto:tracey.kornau@lakotaonline.com">tracey.kornau@lakotaonline.com</a>
  </div>

</center>
</div>

<br /><br />

<script src="js/main.js"></script>
</body>
</html>
