<!DOCTYPE html>
<html>
<head>
<!--
 _____   _____        ___   _____   _   _        _____   _   __   _   _____   _   _
|  _  \ |  _  \      /   | |  _  \ | | | |      /  ___/ | | |  \ | | /  ___| | | | |
| |_| | | |_| |     / /| | | |_| | | |_| |      | |___  | | |   \| | | |     | |_| |
|  ___/ |  _  /    / / | | |  _  { |  _  |      \___  \ | | | |\   | | |  _  |  _  |
| |     | | \ \   / /  | | | |_| | | | | |       ___| | | | | | \  | | |_| | | | | |
|_|     |_|  \_\ /_/   |_| |_____/ |_| |_|      /_____/ |_| |_|  \_| \_____/ |_| |_|
Why are you even looking at this?
Instagram: @Prabh5487
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="icon" type="image/x-icon" href="img/fav.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="west, lakotawest, saab">
<meta name="description" content="Request to speak at Saab.">
<meta name="author" content="Prabhjot Singh">
<title>Request - Saab - Lakota West</title>

</head>
<body style="background-color: #1a1a1a; color: white;">


<div id="load_screen"><div id="loading"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div></div>

  <div class="menubar">
    <a href="speakers.php" class="links">BACK</a>
  </div>

<center>
  <br /><br /><br />
  <h1>Page Removed</h1>
</center>

<!--
<div class="textareaholder">
  <h2>Lakota West - Saab</h2>
  <h1>Speaker Request Form</h1>
  <p>Fill out the form below to send in a request.</p>
  <br />
  <form action="mailto:TRACEY.KORNAU@LAKOTAONLINE.COM" method="post" enctype="text/plain">
  First and last name:<br><br>
  <input class="sendinput" type="text" name="name"><br><br>
  E-mail you would like to be contacted on:<br><br>
  <input class="sendinput" type="text" name="mail"><br><br>
  Tell us about yourself:<br><br>
  <textarea class="sendinput sendtextarea"  type="text" name="comment"></textarea><br><br>
  <input class="send_btn" type="submit" value="Send">
  </form>
  <br />
  <p>Your email app should open when send is pressed. Once it opens press send on your e-mail.</p>
  <p>If your app did not open, send the e-mail manually to: TRACEY.KORNAU@LAKOTAONLINE.COM</p>
</div>
-->

<script src="js/main.js"></script>
</body>
</html>
