<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>internet</title>
		<script src="../../css/style.css"></script>
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/shell.css">
        <script type="text/javascript" src="js/shell.js"></script>
<title>Waver</title>
<link rel="stylesheet" type="text/css" href="../../css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<link rel="shortcut icon" href="../../img/fav.ico">
    </head>
    <body>

	<style type="text/css">
	#showhidemode{
	z-index:1;
	left: 50%;
	}

	.hidemode{
	z-index: 2;
	}
	</style>

	<div id="hidehidemode" class="hidemode"></div>
<a id="showhidemode" title="Hide Mode: Oh no! The teacher is about to walk by me! Click this button to hide the game. Click anywhere on the screen to cancel hide mode." class="btn2white">&#128083;</a>


	<div class="welcome-alert">
  <div class="overlay-alert"></div>
  <div class="alert">
    <h2>Waver Browser</h2>
	<p>Use any website on any internet to play any game.</p>
	<p>Never see "Website Blocked" on school computers again!</p>
	<br />
    <a id="hide-welcome-alert" class="btn">Okay</a>
  </div>
</div>


<h2>Disabled for demo.</h2>

		<script src="../../js/script.js"></script>
    </body>
</html>
