<!DOCTYPE html>
<html>
<head>
<meta http-equiv="refresh" content="0; URL=../../../index.html" />
<meta charset="utf-8"/>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Prabhjot Singh">
<title>Redirect</title>
</head>
<body>

<style type="text/css">
  body{
      font-family: 'Montserrat', sans-serif;
    }
  </style>
<p>Taking you to the project you selected.</p>
<a href="../../../index.html">Redirect not working? Click here.</a>
</body>

</html>
